.cursor-element {
  color: #fff;
  font-family: monospace;
  border-left: 2px solid;
  margin-left: -1px;
  margin-right: -1px;
  z-index: 0;
}

.cursor-selection-element {
  background-color: rgba(245, 148, 39, 0.4);
}
